//==============================================
// Utilites/Colors
//==============================================
$white: #fff;
$black: #000;
$grey: #595959;
$light-grey: #5B5B5D;
$blue: #1D457E;
$green: #06A279;
$light-green: #7EEAAF;
$red: #F00;

// ===================================================================
// Theme colors
// ===================================================================
$color-primary: $grey;
$color-secondary: $blue;

// ===================================================================
// Brand colors
// ===================================================================
$brand_colors: (
	'white': $white,
	'black': $black,
	'grey': $grey,
	'light-grey': $light-grey,
	'blue': $blue,
	'green': $green,
	'light-green': $light-green,
	'red': $red,
);
