//===============================
// Layout/Footer
//===============================

.site-footer {
	@include fluid-clamp((padding-top, padding-bottom), 390px, 1440px, 40px, 88px);
	background-color: $color-secondary;
	* {
		color: $white;
	}

	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			&:before {
				content: none;
			}
		}
	}

	.social-links {
		a {
			display: inline-block;
		}
	}

}
