//===============================
// Layout/Header
//===============================

.site-header {
	width: 100%;
	padding: 12px 0;
	position: fixed;
	transform: translateY(0);
	z-index: 15;
	transition: .5s ease;
	background-color: rgba(0,0,0,.55);

	.logo {
		width: 150px;
		height: 50px;
		@include mq('lg') {
			width: 200px;
			height: 60px;
		}
		a {
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: left center;
			}
		}
	}


	&.headroom {
		&--unpinned {
			transform: translateY(-100%);
		}
		&--pinned {
			transform: translateY(0);
		}
	}

	.nav-trigger {
		@include fluid-clamp((width), 390px, 768px, 27px, 50px);
		@include fluid-clamp((height), 390px, 768px, 18px, 30px);
		margin-left: auto;
		position: relative;
		z-index: 3;

		span {
			position: absolute;
			left: 0;
			width: 100%;
			height: 3px;
			background: $red;
			transform-origin: center;
			@include general-transition;
			&:nth-child(1) {
				top: 0;
			}
			&:nth-child(2) {
				top: 50%;
				transform: translateY(-50%);
			}
			&:nth-child(3) {
				bottom: 0;
			}
		}

		&.active {
			span {
				border-radius: 5px;
				&:nth-child(1) {
					top: 50%;
					transform: translateY(-50%) rotate(45deg);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(3) {
					bottom: auto;
					top: 50%;
					transform: translateY(-50%) rotate(-45deg);
				}
			}
		}
	}


	.nav-wrap {
		@include mq('lg') { display: block; width: calc(100% - 348px); }
		@include mq('lg', max) {
			width: 100%;
			height: calc(var(--vh, 1vh) * 100);
			margin: 0 auto;
			padding: 0;
			position: absolute;
			top: 122px;
			left: 0;
			background: $white;
			transform: translateX(100%);
			transition: transform .4s cubic-bezier(.25,.46,.45,.94),-webkit-transform .4s cubic-bezier(.25,.46,.45,.94);
			overflow-y: auto;
			&.menu-active { display: block; transform: translateX(0); }
		}

		ul.menu {
			list-style: none;
			margin: 0;
			padding: 0;
			@include mq('lg', max) { max-width: 991px; width: 94%; margin: 50px auto 0; }
			@include mq('sm',max) { width: 100%; padding: 0 20px; }
			@include mq('lg') { display: flex; justify-content: center; }

			li {
				list-style: none;
				margin: 3px 0;
				@include mq('laptop') {
					margin: 0 0 0 20px;
				}
				@include mq('xl') {
					margin: 0 0 0 22px;
				}
				&:before { content: none; }
				a {
					display: inline-block;
					padding: 10px 0;
					font-weight: bold;
					font-size: 18px;
					color: $white;
				}
			}
		}

	}

}
